* {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
body {
  color: #333333;
  background-color: #ffffff;
}
.container {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  overflow: auto;
  padding: 20px;
  margin: 20px;
  color: #eeeeee;
  background-color: #336699;
}
input {
  float: left;
  height: 2.5em;
  line-height: 1.5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .5em 1em;
  margin: 0;
  border: none;
  outline: none;
}
#sendmessage {
  color: #132639;
  background-color: #99cc99;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#displayname {
  width: 20%;
  text-align: right;
  color: inherit;
  background-color: transparent;
}
input[disabled] {
  opacity: .6;
  background-color: #bfbfbf !important;
}
